<h1 class="fs-xxl">Categories</h1>

<!-- Breadcrumb Start -->
<nav class="breadcrumb m-bottom-3">
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
    </ol>
</nav>
<!-- Breadcrumb End -->



<!-- Categories Start -->
<section class="grid-4 g-3">

    <% if(typeof categories !== "undefined" && categories.length > 0) { %>
        <% categories.forEach(category => { %>
            <div class="card-hv ts">
                
                <a href="/categories/<%- category.name %>">
                    <img src="/assets/images/<%- category.image %>" class="w-100" alt="<%- category.name %>">
                    <h4><%- category.name %></h4>
                </a>
            </div>

        <% }) %>
    <% } %>

</section>
<!-- Categories End -->



<!-- Recipes by categories Start-->
<section class="grid-5 g-3">
    <% if(typeof categoryById !== 'undefined' && categoryById.length > 0) { %>
        <% categoryById.forEach( recipe => { %>
            <div class="card-hv ts">
                <a href="/recipe/<%= recipe.id %>">
                    <img src="/assets/uploads/<%= recipe.image %>" class="w-100 h-260" alt="<%= recipe.name %>">
                    <h4><%= recipe.name %></h4>
                </a>
            </div>
        <% }) %>
    <% } %>
</section>
<!-- Recipes by categories End -->