<h1>Categories</h1>

<!-- Breadcrumb Start -->

<nav class="breadcrumb">
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
    </ol>
</nav>

<!-- Breadcrumb End -->

<!-- Categories Start -->

<section class="categories-page">
    <% if(typeof categories !== "undefined" && categories.length > 0) { %>
        <% categories.forEach(category => { %>
            <div class="categories-page-card">
                
                <a href="/categories/<%- category.name %>">
                    <img src="/assets/images/<%- category.image %>" alt="<%- category.name %>">
                    <h4><%- category.name %></h4>
                </a>
            </div>

        <% }) %>
    <% } %>

</section>

<!-- Categories End -->

<!-- Recipes by categories Start-->

<% if(typeof categoryById !== 'undefined' && categoryById.length > 0) { %>
    <section class="categories-page">
        <% categoryById.forEach( recipe => { %>
            <div class="categories-page-card">
                <a href="/recipe/<%= recipe.id %>">
                    <img src="/assets/uploads/<%= recipe.image %>" alt="<%= recipe.name %>">
                    <h4><%= recipe.name %></h4>
                </a>
            </div>
        <% }) %>
    </section>
<% } %>

<!-- Recipes by categories End -->