<h1 class="fs-xxl">Recipes</h1>



<% if(recipe != null ) { %>

    <!-- Breadcrumb Start -->
    <nav class="breadcrumb m-bottom-3">
        <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/categories/<%= recipe.category %>"><%= recipe.category %></a></li>
            <li><a href="/recipe/<%= recipe.id %>"><%= recipe.name %></a></li>
        </ol>
    </nav>
    <!-- Breadcrumb End -->



    <!-- Recipe Start -->
    <section class="recipe-container flex g-5">

        <!-- Image Start -->
        <div>
            <img src="/assets/uploads/<%- recipe.image %>" class="h-540" alt="<%- recipe.name %>">
        </div>
        <!-- Image End -->



        <!-- Content Start -->
        <div>

            <div class="recipe-header m-bottom-3">
                <h2 class="p-bottom-1 fs-xl bb"><%= recipe.name %></h2>

                <div class="flex-align-center g-3">
                    <p class="fs-1 m-top-mini"><%= recipe.category%></p>
                    <p class="fs-1 m-top-mini"><%= recipe.email %></p>
                </div>
            </div>
            
            <div class="recipe-body">
                <h2 class="m-bottom-1 p-bottom-1 fs-xl bb">Cooking Instructions</h2>

                <div class="m-bottom-1">
                    <h3 class="fs-3">Description</h3>
                    <p class="fs-2"><%= recipe.description %></p>
                </div>

                <div class="ingredients">
                    <h3 class="fs-3">Ingredients</h3>
                    <ol>
                        <% recipe.ingredients.forEach(ingredient => { %>
                            <li class="fs-2"><%= ingredient %></li>
                        <% }) %>
                    </ol>
                </div>
            </div>

        </div>
        <!-- Content End -->

    </section>
    <!-- Recipe End -->

  <% } else { %>
    <h4>No item found.</h4>
  <% } %>